body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.welcome-section{
    background-image: url("top-banner.png");
    background-repeat: no-repeat;

}
.top-section{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.top-section img{
    width: 100%;
    padding-top: 2px;
}

h1{
    font-size: 50px;

}
h1 span{
    color: orange;
}
.anchor-button{
    text-decoration: none;
    background-color: rgba(255, 68, 0, 0.646);
    color: aliceblue;
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
}
.dream-section{
    background-image: url("dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
h2{
    font-size: 40px;
}
.experience h3{
    color: orange;
}
.experience{
    background-image: url("exp-bg.png");
    background-repeat: no-repeat;
}